* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center; }

body {
  font-family: 'Outfit', sans-serif;
  background-color: #333333;
  text-align: center;
  overflow-x: hidden; }

.header {
  display: flex;
  width: 100%;
  border-left: solid 3px;
  border-right: solid 3px;
  border-bottom: solid 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(8, 8, 9, 0.734);
  position: fixed;
  z-index: 100000000000;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex-wrap: wrap; }

.header__imagen {
  width: 65px;
  height: 65px;
  border: solid rgba(0, 0, 0, 0.416);
  border-radius: 20px;
  background-color: wheat; }

.header__nav {
  display: flex; }

.header__nav__enlaces {
  display: flex; }

.header__nav__enlaces a {
  color: aliceblue;
  text-transform: uppercase;
  display: flex;
  text-decoration: none;
  padding: 1rem;
  font-size: 14px; }

.cruz {
  display: none; }

.header__menu {
  display: none; }

.footer {
  color: #aea3a3;
  width: 100%;
  /* height: 110px; */
  display: flex;
  /* el flex-direction le dice al justify content el eje por donde se mueve */
  flex-direction: column;
  background-image: url(../imagenes/footer-img.png);
  font-weight: bold; }

.footer__titulo {
  align-self: center;
  margin-left: 25px; }

.footer__enlaces {
  align-self: center;
  justify-items: center;
  color: white;
  font-size: 40px;
  padding-left: 15px; }

.footer__enlaces__hijos {
  text-decoration: none;
  color: #aea3a3;
  padding: 15px; }

.footer__span {
  border: solid black;
  border-radius: 32px;
  background-color: #0c0c0c;
  text-align: center;
  width: 275px;
  align-self: center; }

main {
  display: flex;
  flex-wrap: wrap;
  background-attachment: fixed;
  border-bottom: 4px black solid;
  background-image: url(../imagenes/911.png);
  background-color: rgba(0, 0, 0, 0.199); }

.section1 {
  margin-top: 140px;
  height: auto;
  justify-content: center; }

.titulo1 {
  font-weight: 600;
  margin-bottom: 80px;
  font-size: 40px;
  background-color: rgba(167, 166, 170, 0.199);
  width: auto;
  height: 100px;
  padding: 1rem; }

.text-center {
  display: flex;
  background-color: rgba(0, 0, 0, 0.199);
  height: 68%;
  width: 100%;
  padding: 2rem; }

.contenido__1__iframe {
  width: 99%;
  padding: 2rem;
  border-radius: 50px;
  overflow: hidden; }

.row {
  display: flex;
  align-items: center; }

.container {
  max-width: 95%;
  /* border: solid red; */
  background-color: rgba(0, 0, 0, 0.199);
  height: auto;
  margin-bottom: 4rem; }

.titulo2 {
  font-weight: 600;
  margin-bottom: 80px;
  font-size: 40px;
  background-color: rgba(167, 166, 170, 0.199);
  width: 105%;
  height: 100px;
  text-align: center;
  padding: 1rem; }

.contenido__2 {
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  margin-bottom: 4rem; }

.borde {
  width: auto;
  border-radius: 10px; }

.bg-light {
  background-color: rgba(0, 0, 0, 0.199) !important;
  width: 100%; }

.col {
  align-self: center;
  font-weight: 1000; }

.p-3 {
  color: black;
  font-weight: bolder;
  text-align: justify;
  font-size: 18px;
  align-items: center; }

.contenido1__lorem {
  color: black;
  font-weight: bold;
  text-align: justify;
  letter-spacing: 0px;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 5%;
  width: 100%;
  margin-bottom: 10%;
  height: 43px; }

.section__contacto {
  margin-top: 150px;
  margin-bottom: 150px;
  /* background-image: url(../imagenes/ilustravino.jfif); */
  height: auto;
  width: 50%;
  border: solid rgba(4, 4, 4, 0.829);
  border-radius: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747), 0 6px 20px 0 rgba(0, 0, 0, 0.715);
  background: #432c52;
  background: radial-gradient(circle, #432c52 5%, #5d084f 61%, #6e2060 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 4rem; }

.divprueba {
  padding: 1rem;
  font-size: 20px; }

.cont2 {
  background-color: none; }

.contacto__titulo {
  letter-spacing: 4px;
  font-weight: bold; }

.section__nosotros {
  align-content: center;
  width: auto;
  height: auto;
  display: flex;
  justify-items: center;
  margin-top: 7px; }

.nuestra-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 700px;
  width: 100%;
  border: solid;
  background-color: wheat;
  border-radius: 10px; }

.cont2 {
  background-color: transparent;
  max-width: 100%; }

.nuestra-historia h1 {
  display: flex;
  text-transform: uppercase;
  padding: 2rem;
  text-align: justify;
  font-weight: bolder;
  color: #010101;
  border-radius: 10px; }

.nuestra-historia p {
  text-transform: none;
  text-align: center;
  width: 600px;
  font-weight: bolder;
  letter-spacing: 2px; }

.row2 {
  margin-top: 5%; }

.mapa {
  display: flex;
  height: 700px;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid black;
  background-color: wheat;
  margin-top: 10%;
  padding: 2rem;
  margin-bottom: 10%;
  border-radius: 13px; }

.mapa h1 {
  display: flex;
  text-transform: uppercase;
  letter-spacing: normal;
  height: 150px;
  padding: 2rem;
  text-align: center;
  font-weight: bolder;
  color: #010101;
  background-color: wheat; }

.mapa iframe {
  border: solid 5px rgba(3, 3, 3, 0.123);
  margin-bottom: 5%;
  flex-wrap: wrap;
  height: 600px;
  width: auto; }

.section2__nosotros {
  margin-top: 70px; }

.section__productos {
  text-align: center;
  height: 900px;
  width: 100%;
  padding: 1rem;
  margin-top: 130px; }

.tituloo {
  margin-top: 150px;
  border: solid black;
  background-color: #5118476b;
  border-radius: 10px;
  height: 70px;
  width: 700px;
  display: flex;
  align-items: center;
  font-size: 30px;
  letter-spacing: 20px;
  margin-left: 150px; }

.productos__padre {
  border: solid rgba(15, 14, 14, 0.514);
  background-color: rgba(107, 163, 140, 0.089);
  width: 1000px;
  height: auto;
  margin-top: 150px;
  margin-bottom: 7rem;
  border-radius: 10px; }

.productos__fotos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: solid red; */
  margin-top: 130px; }

.card-body {
  background-color: black;
  color: white; }

.lema {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin-top: 7rem;
  background-color: #3333332a;
  font-size: 30px;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 4rem;
  font-weight: bolder; }

.section__faq {
  margin-top: 140px;
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  margin-bottom: 30px;
  align-items: center;
  border-radius: 10px;
  font-size: 20px; }

.accordion-body {
  font-size: 25px;
  width: 100%;
  background-color: rgba(98, 128, 131, 0.271);
  color: black; }

.acordion-propio {
  font-size: 25px;
  width: 100%; }

.quiestion {
  color: black;
  border: solid black;
  background-color: #b49681;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  font-weight: bolder;
  text-align: center; }

@media screen and (max-width: 1023px) {
  .header {
    max-height: 80px; }
  .header__imagen {
    width: 35px;
    height: 35px; }
  .header__nav__enlaces {
    display: none;
    background-color: rgba(133, 87, 12, 0.654);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100000;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 80px; }
  .cruz {
    display: block; }
  .header__menu {
    display: block; }
  .header__nav__enlaces:target {
    display: block; }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 0%;
    width: 100%;
    height: auto; }
  .col-md-6 {
    display: flex;
    flex-direction: row;
    width: 100%; }
  .titulo1 {
    width: 100%;
    /* font-size: 20px; */
    letter-spacing: normal;
    height: auto; }
  .contenido1__lorem {
    color: #39033e;
    background-color: rgba(181, 116, 188, 0.183);
    text-align: justify;
    letter-spacing: 0px;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    border: #333333 solid;
    width: 90%; }
  .titulo2 {
    line-height: 1.4; }
  .contenido__2 {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 0px;
    height: fit-content;
    padding: 1rem;
    width: 100%; }
  .contenido__2__titulo {
    color: black;
    background-color: rgba(65, 26, 52, 0.613);
    border-radius: 10px;
    height: 64px;
    width: 250px;
    letter-spacing: normal;
    text-align: center;
    padding: 1rem;
    margin-left: 0px; }
  .cblock {
    flex-direction: column; }
  .carousel-item {
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
    width: 100%; }
  .section__nosotros {
    align-content: center;
    width: 85%;
    display: flex;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 15px; }
  .nuestra-historia {
    width: 100%;
    height: 100%; }
  .nuestra-historia h1 {
    text-transform: none;
    width: 300px;
    height: 100px;
    text-align: center;
    letter-spacing: normal; }
  .nuestra-historia p {
    text-transform: none;
    text-align: justify;
    width: 375px;
    font-weight: bolder;
    letter-spacing: 4px;
    margin-top: 30px; }
  .section2__nosotros {
    margin-right: 0px;
    width: 85%; }
  .mapa {
    display: flex;
    height: 600px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: solid black;
    background-color: wheat;
    margin-top: 0%;
    padding: 2rem;
    margin-bottom: 10%;
    margin-left: 0%;
    border-radius: 13px; }
  .mapa h1 {
    display: flex;
    text-transform: none;
    letter-spacing: 5px;
    height: 100px;
    padding: 1rem;
    font-weight: bolder;
    color: #010101;
    background-color: wheat; }
  .mapa iframe {
    border: solid 5px rgba(3, 3, 3, 0.123);
    margin-bottom: 5%;
    flex-wrap: wrap;
    height: 600px;
    width: 99%; }
  .tituloo {
    text-align: center;
    margin-left: 0%;
    letter-spacing: normal;
    width: 300px; }
  .productos__padre {
    height: auto;
    border: none; }
  .productos__fotos {
    margin-top: 6px; }
  .productos__fotos img {
    width: 98%;
    height: auto; }
  .section__faq {
    margin-top: 80px;
    height: auto; }
  .section__contacto {
    padding: 1rem;
    width: 80%; } }

@media screen and (max-width: 600px) {
  .header {
    max-height: 80px; }
  .header .header__imagen {
    width: 35px;
    height: 35px; }
  .header .header__nav__enlaces {
    display: block;
    background-color: rgba(8, 8, 9, 0.734);
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100000;
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    transition: right 1s; }
  .cruz {
    display: block; }
  .header__menu {
    display: block; }
  .header__nav__enlaces:target {
    display: block;
    right: 0; }
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-left: 0%;
    width: 100%;
    height: auto;
    margin-top: 100px; }
  .prueba {
    flex-direction: column; }
  .contenido__1__iframe {
    width: auto;
    height: 300px; }
  .titulo1 {
    letter-spacing: normal;
    max-width: 89%;
    font-size: 30px;
    height: auto;
    margin-bottom: 1rem; }
  .parrafo1 {
    color: black;
    font-weight: bolder;
    text-align: justify;
    font-size: 14px;
    align-items: center; }
  .contenido1__lorem {
    color: #39033e;
    background-color: rgba(181, 116, 188, 0.183);
    text-align: justify;
    letter-spacing: 0px;
    border-radius: 10px;
    padding: 1rem;
    width: fit-content;
    border: #333333 solid;
    width: 90%; }
  .titulo2 {
    line-height: 1.4;
    font-size: 30px;
    justify-self: center;
    height: auto;
    margin-bottom: 50px; }
  .contenido__2 {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 0px;
    height: fit-content;
    padding: 1rem;
    width: 100%; }
  .contenido__2__titulo {
    color: black;
    background-color: rgba(65, 26, 52, 0.613);
    border-radius: 10px;
    height: 64px;
    /* width: 250px; */
    letter-spacing: normal;
    text-align: center;
    padding: 1rem;
    margin-left: 0px; }
  .carousel-item {
    border-radius: 10px;
    overflow: hidden;
    object-fit: contain;
    height: 250px;
    width: 100%; }
  .p-3 {
    font-size: 13px; }
  .section__contacto {
    margin-top: 100px;
    margin-bottom: 150px;
    height: auto;
    width: 99%;
    border: solid rgba(4, 4, 4, 0.829);
    border-radius: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747), 0 6px 20px 0 rgba(0, 0, 0, 0.715);
    background-color: rgba(10, 10, 10, 0.808);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0; }
  .contacto__titulo {
    letter-spacing: normal;
    font-size: 20px;
    padding: 1rem; }
  .divprueba {
    letter-spacing: normal;
    font-size: 15px; }
  .section__nosotros {
    align-content: center;
    width: 99%;
    height: auto;
    display: flex;
    justify-items: center;
    margin-top: 7px; }
  .row2 {
    margin-top: 100px; }
  .nuestra-historia {
    width: 100%;
    justify-content: flex-start; }
  .nuestra-historia h1 {
    text-transform: none;
    width: 300px;
    height: 100px;
    text-align: center;
    letter-spacing: normal; }
  .nuestra-historia p {
    text-transform: none;
    text-align: justify;
    font-weight: bolder;
    letter-spacing: normal;
    margin-top: 15px;
    padding: 2rem; }
  .section2__nosotros {
    margin-right: 0px;
    width: 99%; }
  .mapa {
    display: flex;
    height: 600px;
    width: 99%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border: solid black;
    background-color: wheat;
    margin-top: 0%;
    padding: 2rem;
    margin-bottom: 10%;
    margin-left: 0%;
    border-radius: 13px; }
  .mapa h1 {
    display: flex;
    text-transform: none;
    letter-spacing: normal;
    height: 100px;
    padding: 1rem;
    font-weight: bolder;
    color: #010101;
    font-size: 22px; }
  .mapa iframe {
    margin-bottom: 5%;
    flex-wrap: wrap;
    height: 600px;
    width: 110%; }
  .tituloo {
    text-align: center;
    margin-left: 0%;
    letter-spacing: normal;
    width: 300px; }
  .productos__padre {
    height: auto;
    border: none; }
  .container {
    max-width: 100%; } }

/* https://v2.jam-icons.com/
 */
/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */
