* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;

}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #333333;
    color: rgb(3, 3, 3);
    text-align: center;
    overflow-x: hidden;

}

.header {
    display: flex;
    width: 100%;
    border-left: solid 3px;
    border-right: solid 3px;
    border-bottom: solid 3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(8, 8, 9, 0.734);
    position: fixed;
    z-index: 100000000000;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    flex-wrap: wrap;




}

.header__imagen {
    width: 65px;
    height: 65px;
    border: solid rgba(0, 0, 0, 0.416);
    border-radius: 20px;
    background-color: wheat;

}

.header__nav {
    display: flex;

}

.header__nav__enlaces {
    display: flex;
    justify-content: space-evenly;

}

.header__nav__enlaces a {
    color: aliceblue;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    padding: 1rem;

}

main {

    display: flex;
    flex-wrap: wrap;
    background-image: url(../imagenes/jGlzr.png);
    background-attachment: fixed;
    border-bottom: 4px black solid;
    background-color: rgb(182, 95, 153);

}


.footer {

    color: rgb(174, 163, 163);
    width: 100%;
    height: 110px;
    display: flex;
    /* el flex-direction le dice al justify content el eje por donde se mueve */
    flex-direction: column;
    background-image: url(../imagenes/footer-img.png);
    font-weight: bold;
    flex-wrap: wrap;
}

.footer__titulo {
    align-self: center;
    margin-left: 25px;
}

.footer__enlaces {

    align-self: center;
    justify-items: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding-left: 15px;

}

.footer__enlaces__hijos {

    text-decoration: none;
    color: rgb(174, 163, 163);
    padding: 15px;

}

.footer__span {

    border: solid black;
    border-radius: 32px;
    background-color: rgb(12, 12, 12);
    text-align: center;
    width: 275px;
    align-self: center;


}


.contenido__1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 1000px;
    margin-left: 250px;
    width: 70%;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;


}

.contenido__1__titulo {
    color: black;
    background-color: rgba(65, 26, 52, 0.613);
    /* border: solid rgb(201, 144, 223); */
    border-radius: 10px;
    height: 64px;
    width: 400px;
    margin-top: 100px;
    letter-spacing: 8px;
    padding: 1rem;



}


.contenido__1__iframe {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;


}

.contenido1__lorem {
    /* border: #333333 solid; */
    color: rgb(57, 3, 62);
    font-weight: bold;
    background-color: rgba(181, 116, 188, 0.378);
    text-align: justify;
    letter-spacing: 8px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1rem;



}

.contenido__2 {
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;


}

.contenido__2__titulo {
    color: black;
    background-color: rgba(65, 26, 52, 0.613);
    border-radius: 10px;
    height: 64px;
    width: 400px;
    letter-spacing: 8px;
    text-align: center;
    padding: 1rem;
    margin-left: 100px;
    margin-bottom: 10%;

}




.contenido__2__divimg {
    display: grid;
    /* border: solid red; */
    border-radius: 10px;
    background-color: #08060850;
    width: 70%;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas:
        "img1 img2"
        "img3 img2";
    justify-items: center;
    align-items: center;
    gap: 5px 5px;

}

.contenido__img {
    border: none;


}

.contenido__img img {
    border-radius: 10px;
    overflow: hidden;

}

.contenido__img--img1 {
    grid-area: img1;

}

.contenido__img--img2 {
    grid-area: img2;

}

.contenido__img--img3 {
    grid-area: img3;

}


.contenido2__lorem {
    color: rgb(57, 3, 62);
    font-weight: bold;
    background-color: rgba(181, 116, 188, 0.378);
    text-align: justify;
    letter-spacing: 7px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 5%;
    width: 70%;
    margin-bottom: 10%;
}


.section__contacto {
    margin-top: 150px;
    margin-bottom: 150px;
    background-image: url(../imagenes/ilustravino.jfif);
    height: 900px;
    width: 900px;
    border: solid rgba(4, 4, 4, 0.829);
    border-radius: 20px;
    color: white;
    text-align: center;
    display: flex;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.747), 0 6px 20px 0 rgba(0, 0, 0, 0.715);

}




.contacto__padre {
    background-color: rgba(10, 10, 10, 0.808);
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contacto__titulo {
    letter-spacing: 4px;
    font-weight: bold;

}

.button {
    background-color: #511847;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section__nosotros {
    height: 100%;
    width: 100%;
    margin-top: 90px;
    text-align: center;
}

.nuestra-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 700px;
    width: 100%;



}

.nuestra-historia h1 {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 10px;
    border: solid black;
    height: 100px;
    width: 500px;
    padding: 2rem;
    text-align: justify;
    font-weight: bolder;
    color: rgb(1, 1, 1);
    background-color: wheat;
    border-radius: 10px;

}

.nuestra-historia p {
    text-transform: uppercase;
    text-align: justify;
    width: 600px;
    font-weight: bolder;
    letter-spacing: 4px;
}

.imagenee {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 1000px;
    border: solid rgba(0, 0, 0, 0.593);
    background-color: rgba(7, 7, 7, 0.253);
    padding: 2rem;
    margin-left: 200px;
    border-radius: 10px;
}


.image1 {
    order: 1;
    display: flex;
    flex-wrap: wrap;

}

.image3 {
    order: -1;

}

.section2__nosotros {
    margin-top: 0px;
    margin-right: 330px;

}

.mapa {
    display: flex;
    height: 600px;
    width: 800px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid black;
    background-color: wheat;
    margin-top: 10%;
    padding: 2rem;
    margin-bottom: 10%;
    margin-left: 20%;
    border-radius: 13px;

}

.mapa h1 {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 10px;
    height: 150px;
    padding: 2rem;
    text-align: justify;
    font-weight: bolder;
    color: rgb(1, 1, 1);
    background-color: wheat;
}

.mapa iframe {
    border: solid 5px rgba(3, 3, 3, 0.123);
    margin-bottom: 5%;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
}

.section__productos {
    text-align: center;
    height: 900px;
    width: 100%;
    padding: 1rem;
    margin-top: 130px;



}

.tituloo {
    margin-top: 150px;
    border: solid black;
    background-color: #5118476b;
    border-radius: 10px;
    height: 70px;
    width: 700px;
    display: flex;
    align-items: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-left: 150px;

}

.productos__padre {
    border: solid rgba(15, 14, 14, 0.514);
    background-color: rgba(107, 163, 140, 0.089);
    width: 1000px;
    height: 1200px;
    margin-top: 50px;
    margin-bottom: 7rem;
    border-radius: 10px;

}


.productos__fotos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: solid red; */
    margin-top: 130px;

}


.lema {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-top: 7rem;
    background-color: #3333332a;
    font-size: 30px;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 4rem;
    font-weight: bolder;


}

.section__faq {

    background-color: rgba(204, 210, 212, 0.404);
    margin-top: 140px;
    height: 1000px;
    width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 10px;


}


.quiestion {
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0);
    background-color: rgb(180, 150, 129);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    font-weight: bolder;
    text-align: center;



}

.cruz {
    display: none;
}

.header__menu {
    display: none;
}





    /* https://v2.jam-icons.com/
 */







    /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/
 */



    @media screen and (max-width:1023px) {



        .header {
            /* max-width: auto; */
            max-height: 80px;
        }

        .header__imagen {
            width: 35px;
            height: 35px;

        }

        .header__nav__enlaces {
            display: none;
            background-color: rgba(133, 87, 12, 0.654);
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100000;
            width: 50%;
            height: 60vh;
            border-radius: 10px;
            margin-top: 80px;

        }

        .cruz {
            display: block;
        }

        .header__menu {
            display: block;
        }

        .header__nav__enlaces:target {
            display: block;

        }

        .contenido__1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            margin-left: 0%;
            width: 100%;

        }

        .contenido__1__titulo {
            width: 250px;
            /* font-size: 20px; */
            letter-spacing: normal;

        }

        .contenido__1__iframe {
            height: 200px;
            height: 260px;
            width: 80%;

        }

        .contenido1__lorem {
            color: rgb(57, 3, 62);
            background-color: rgba(181, 116, 188, 0.183);
            text-align: justify;
            letter-spacing: 0px;
            border-radius: 10px;
            padding: 1rem;
            width: fit-content;
            border: #333333 solid;
            width: 90%;

        }

        .contenido__2 {
            display: flex;
            flex-direction: column;
            margin-left: 0%;
            margin-top: 0px;

            height: fit-content;
            padding: 1rem;
            width: 100%;
        }

        .contenido__2__titulo {
            color: black;
            background-color: rgba(65, 26, 52, 0.613);
            border-radius: 10px;
            height: 64px;
            width: 250px;
            letter-spacing: normal;
            text-align: center;
            padding: 1rem;
            margin-left: 0px;


        }

        .contenido__2__divimg {
            display: flex;
            flex-direction: column;
            border: none;
            gap: 3rem;
            width: 100px;
            margin-top: 10%;
            background-color: transparent;

        }





        .contenido__img img {
            border-radius: 10px;
            overflow: hidden;
            height: 200px;
            width: 200px;
            border: solid rgba(245, 222, 179, 0.309) 10px;
        }

        .contenido2__lorem {
            color: rgb(57, 3, 62);
            font-weight: bold;
            background-color: rgba(181, 116, 188, 0.183);
            text-align: center;
            border-radius: 10px;
            padding: 1rem;
            width: fit-content;
            border: #333333 solid;
            text-transform: lowercase;
            width: 98%;
            margin-top: 10px;
        }



        .section__nosotros {

            align-content: center;
            width: 85%;
            height: 800px;
            display: flex;
            justify-items: center;
            margin-top: 100px;

        }

        .nuestra-historia {
            width: 100%;

        }

        .nuestra-historia h1 {
            text-transform: none;
            width: 300px;
            height: 100px;
            text-align: center;
            letter-spacing: normal;


        }

        .nuestra-historia p {
            text-transform: none;
            text-align: justify;
            width: 375px;
            font-weight: bolder;
            letter-spacing: 4px;
            margin-top: 30px;
        }

        .section2__nosotros {
            margin-top: 0px;
            margin-right: 0px;

        }


        .mapa {
            display: flex;
            height: 600px;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            border: solid black;
            background-color: wheat;
            margin-top: 0%;
            padding: 2rem;
            margin-bottom: 10%;
            margin-left: 0%;
            border-radius: 13px;

        }

        .mapa h1 {
            display: flex;
            text-transform: none;
            letter-spacing: 5px;
            height: 100px;
            padding: 1rem;
            font-weight: bolder;
            color: rgb(1, 1, 1);
            background-color: wheat;
        }

        .mapa iframe {
            border: solid 5px rgba(3, 3, 3, 0.123);
            margin-bottom: 5%;
            flex-wrap: wrap;
            height: 600px;
            width: 90%;
        }

        .tituloo {
            text-align: center;
            margin-left: 0%;
            letter-spacing: normal;
            width: 300px;

        }

        .productos__padre {
            height: auto;
            border: none;
        }

        .productos__fotos {
            margin-top: 6px;
        }

        .productos__fotos img {
            width: 98%;
            height: auto;
        }

        .section__faq {
            margin-top: 80px;
            height: 1500px;

        }

    }

    @media screen and (max-width:600px) {



        .header {
            /* max-width: auto; */
            max-height: 80px;
        }

        .header__imagen {
            width: 35px;
            height: 35px;

        }

        .header__nav__enlaces {
            display: none;
            background-color: rgba(133, 87, 12, 0.654);
            position: fixed;
            top: 0;
            right: 0;
            z-index: 100000;
            width: 50%;
            height: 60vh;
            border-radius: 10px;
            margin-top: 80px;

        }

        .cruz {
            display: block;
        }

        .header__menu {
            display: block;
        }

        .header__nav__enlaces:target {
            display: block;

        }

        .contenido__1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            margin-left: 0%;
            width: 100%;

        }

        .contenido__1__titulo {
            width: 250px;
            /* font-size: 20px; */
            letter-spacing: normal;

        }

        .contenido__1__iframe {
            height: 200px;
            height: 260px;
            width: 80%;

        }

        .contenido1__lorem {
            color: rgb(57, 3, 62);
            background-color: rgba(181, 116, 188, 0.183);
            text-align: justify;
            letter-spacing: 0px;
            border-radius: 10px;
            padding: 1rem;
            width: fit-content;
            border: #333333 solid;
            width: 90%;

        }

        .contenido__2 {
            display: flex;
            flex-direction: column;
            margin-left: 0%;
            margin-top: 0px;

            height: fit-content;
            padding: 1rem;
            width: 100%;
        }

        .contenido__2__titulo {
            color: black;
            background-color: rgba(65, 26, 52, 0.613);
            border-radius: 10px;
            height: 64px;
            width: 250px;
            letter-spacing: normal;
            text-align: center;
            padding: 1rem;
            margin-left: 0px;


        }

        .contenido__2__divimg {
            display: flex;
            flex-direction: column;
            border: none;
            gap: 3rem;
            width: 100px;
            margin-top: 10%;
            background-color: transparent;

        }





        .contenido__img img {
            border-radius: 10px;
            overflow: hidden;
            height: 200px;
            width: 200px;
            border: solid rgba(245, 222, 179, 0.309) 10px;
        }

        .contenido2__lorem {
            color: rgb(57, 3, 62);
            font-weight: bold;
            background-color: rgba(181, 116, 188, 0.183);
            text-align: center;
            border-radius: 10px;
            padding: 1rem;
            width: fit-content;
            border: #333333 solid;
            text-transform: lowercase;
            width: 98%;
            margin-top: 10px;
        }



        .section__nosotros {

            align-content: center;
            width: 85%;
            height: 800px;
            display: flex;
            justify-items: center;
            margin-top: 100px;

        }

        .nuestra-historia {
            width: 100%;

        }

        .nuestra-historia h1 {
            text-transform: none;
            width: 300px;
            height: 100px;
            text-align: center;
            letter-spacing: normal;


        }

        .nuestra-historia p {
            text-transform: none;
            text-align: justify;
            width: 375px;
            font-weight: bolder;
            letter-spacing: 4px;
            margin-top: 30px;
        }

        .section2__nosotros {
            margin-top: 0px;
            margin-right: 0px;

        }


        .mapa {
            display: flex;
            height: 600px;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            border: solid black;
            background-color: wheat;
            margin-top: 0%;
            padding: 2rem;
            margin-bottom: 10%;
            margin-left: 0%;
            border-radius: 13px;

        }

        .mapa h1 {
            display: flex;
            text-transform: none;
            letter-spacing: 5px;
            height: 100px;
            padding: 1rem;
            font-weight: bolder;
            color: rgb(1, 1, 1);
            background-color: wheat;
        }

        .mapa iframe {
            border: solid 5px rgba(3, 3, 3, 0.123);
            margin-bottom: 5%;
            flex-wrap: wrap;
            height: 600px;
            width: 90%;
        }

        .tituloo {
            text-align: center;
            margin-left: 0%;
            letter-spacing: normal;
            width: 300px;

        }

        .productos__padre {
            height: auto;
            border: none;
        }

        .productos__fotos {
            margin-top: 6px;
        }

        .productos__fotos img {
            width: 98%;
            height: auto;
        }

        .section__faq {
            margin-top: 80px;
            height: 1500px;

        }

    }