* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;

}

body {
    font-family: 'Outfit', sans-serif;
    background-color: #333333;
    // color: rgb(3, 3, 3);
    text-align: center;
    overflow-x: hidden;

}
