.section__faq {
    margin-top: 140px;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem;
    margin-bottom: 30px;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;

}

.accordion-body{
    font-size: 25px;
    width: 100%;
    background-color: rgba(98, 128, 131, 0.271);
    color: white;
}

.accordion-item {
    color: white;
    background-color: rgba(42, 38, 38, 0.703);
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}

.acordion-propio {
    font-size: 25px;
    width: 100%;
    background-color: rgb(35, 32, 32);
    color: white;
    
}


    
.quiestion {
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0);
    background-color: rgb(180, 150, 129);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    font-weight: bolder;
    text-align: center;



}