main {

    display: flex;
    flex-wrap: wrap;
    
    background-attachment: fixed;
    border-bottom: 4px black solid;
    background-image: url(../imagenes/911.png);
    background-color: rgba(0, 0, 0, 0.199);
    

}