@media screen and (max-width:1023px) {


    .header {
       
        max-height: 80px;
    }

    .header__imagen {
        width: 35px;
        height: 35px;

    }

    .header__nav__enlaces {
        display: block;
        background-color: rgba(8, 8, 9, 0.734);
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100000;
        width: 50%;
        height: auto;
        border-radius: 10px;
        margin-top: 80px;
        transition: right 1s;

    }

    .cruz {
        display: block;
    }

    .header__menu {
        display: block;
    }

    .header__nav__enlaces:target {
        display: block;
        right: 0;

    }

    .section1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 0%;
        width: 100%;
        height: auto;
        

    }
   .col-md-6 {
    display: flex;
    flex-direction: row;
    width: 100%;
   }

  
    
    .titulo1 {
        width: 100%;
        /* font-size: 20px; */
        letter-spacing: normal;
        height: auto;

    }

    
 

   


    .contenido1__lorem {
        color: rgb(57, 3, 62);
        background-color: rgba(181, 116, 188, 0.183);
        text-align: justify;
        letter-spacing: 0px;
        border-radius: 10px;
        padding: 1rem;
        width: fit-content;
        border: #333333 solid;
        width: 90%;

    }

    .titulo2 {
        line-height: 1.4;
    }

    .contenido__2 {
        display: flex;
        flex-direction: column;
        margin-left: 0%;
        margin-top: 0px;

        height: fit-content;
        padding: 1rem;
        width: 100%;
    }

    .contenido__2__titulo {
        color: black;
        background-color: rgba(65, 26, 52, 0.613);
        border-radius: 10px;
        height: 64px;
        width: 250px;
        letter-spacing: normal;
        text-align: center;
        padding: 1rem;
        margin-left: 0px;



    }

    .cblock {
        flex-direction: column;
    }




    .carousel-item {
        border-radius: 10px;
        overflow: hidden;
        object-fit: contain;
        
        width: 100%;
        
    }

   


    .section__nosotros {

        align-content: center;
        width: 85%;
       
        display: flex;
        justify-items: center;
        margin-top: 100px;
        margin-bottom: 15px;

    }

    .nuestra-historia {
        width: 100%;
        height: 100%;
        

    }

    .nuestra-historia h1 {
        text-transform: none;
        width: 300px;
        height: 100px;
        text-align: center;
        letter-spacing: normal;


    }

    .nuestra-historia p {
        text-transform: none;
        text-align: justify;
        width: 375px;
        font-weight: bolder;
        letter-spacing: 4px;
        margin-top: 30px;
    }

    .section2__nosotros {
        margin-right: 0px;
        width: 85%;
    }


    .mapa {
        display: flex;
        height: 600px;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        align-items: center;
        border: solid black;
        background-color: wheat;
        margin-top: 0%;
        padding: 2rem;
        margin-bottom: 10%;
        margin-left: 0%;
        border-radius: 13px;

    }

    .mapa h1 {
        display: flex;
        text-transform: none;
        letter-spacing: 5px;
        height: 100px;
        padding: 1rem;
        font-weight: bolder;
        color: rgb(1, 1, 1);
        background-color: wheat;
    }

    .mapa iframe {
        border: solid 5px rgba(3, 3, 3, 0.123);
        margin-bottom: 5%;
        flex-wrap: wrap;
        height: 600px;
        width: 99%;
    }

    .tituloo {
        text-align: center;
        margin-left: 0%;
        letter-spacing: normal;
        width: 300px;

    }

    .productos__padre {
        height: auto;
        border: none;
    }

    .productos__fotos {
        margin-top: 6px;
    }

    .productos__fotos img {
        width: 98%;
        height: auto;
    }

    .section__faq {
        margin-top: 80px;
        height: auto;

    }

    .section__contacto {
        padding: 1rem;
        width: 80%;
    }

}